HoloscreenII/holoscreen_android/Assets/OpenCVForUnity/
HoloscreenII/holoscreen_android/Assets/OpenCVForUnity.meta
HoloscreenII/holoscreen_android/Library/ShaderCache/
HoloscreenII/holoscreen_android/Library/metadata/